.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  section {
    padding: 0 1rem;
    &:nth-of-type(2) {
      flex: 1 1 auto;
    }
  }
}
