// header
$header-background-color: #2b3b42;
$header-text-color: lightGray;
$menu-hilight-background: orange;
$menu-hilight-color: white;
$menu-background-color: black;

// form
$form-background-color: whitesmoke;
$form-text-color: black;
$form-border-color: lightGray;
$form-border-error: red;
$form-border-focus: deepskyblue;

$submit-border-color: transparent;
$submit-background-color: orange;
$submit-text-color: white;

// footer

$footer-background-color: black;
$footer-text-color: white;
$footer-border-color: lightGray;
